html {
  height: 100%; }

#root {
  height: 100%; }

body {
  margin: 0px;
  padding: 0px;
  height: 100%; }

#top-container {
  background: red;
  height: 100%;
  display: flex; }

#top-menu {
  background: #333333;
  flex-grow: 0;
  flex-basis: 200px; }

#top-content {
  background: white;
  flex-grow: 1; }

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  padding: 5px; }

.menu-item {
  color: white;
  font-size: 1.2em; }
  .menu-item:hover {
    color: gray; }

.repository {
  font-weight: bold;
  font-size: 18px;
  color: #4078c0;
  margin: 2px; }
  .repository:hover {
    text-decoration: underline; }

.notification {
  margin: 10px; }

.event {
  margin: 10px; }
